<tab-label>
    Contact Me
</tab-label>
<tab-body>
    <div class="project-group">
        <h2>Self-Published: Go/No Go</h2>
        <a href="https://play.google.com/store/apps/details?id=com.wright.android.t_minus" target="_blank">Google Play
            Store
            Link</a>

        <div class="image-container">
            <img src="/assets/images/gng-login.gif" alt="Login Animation">
            <img src="/assets/images/gng-manifest.gif" alt="Manifest">
            <img src="/assets/images/gng-ar.gif" alt="AR">
            <img src="/assets/images/gng-photos.gif" alt="Photos">
        </div>

        <div class="grid-container">
            <div>
                <h2>Tech Overview</h2>

                <body>The goal of this application is to provided users with the ability to stay up to date on rocket
                    launches
                    taking place and make the process of viewing the launch a breeze. It will allow users to see when a
                    rocket
                    launch will take place then see the launch pad in their camera using AR technology. This will allow
                    the user
                    to know exactly where to look when the rocket is about to launch so they never miss a moment. It
                    also will
                    suggest restaurants nearby the rocket launch that offer deals for people wanting to view the launch.
                </body>
            </div>
            <div>
                <h2>Description</h2>

                <body>The goal of this application is to provided users with the ability to stay up to date on rocket
                    launches
                    taking place and make the process of viewing the launch a breeze. It will allow users to see when a
                    rocket
                    launch will take place then see the launch pad in their camera using AR technology. This will allow
                    the user
                    to know exactly where to look when the rocket is about to launch so they never miss a moment. It
                    also will
                    suggest restaurants nearby the rocket launch that offer deals for people wanting to view the launch.
                </body>
            </div>
        </div>
    </div>
</tab-body>