  #landing {
    background-color: #007BBF;
    height: 100vh;
    width: 100%;
    margin: -8px;
    position: fixed;
    z-index: -1;
  }

  .left {
    position: absolute;
    left: 20%;
    top: 30%;
    max-width: 100%;
    width: 350px;
    padding: 10px;
  }

  .right {
    position: absolute;
    right: 20%;
    top: 30%;
    max-width: 100%;
    width: 350;
    padding: 10px;
  }

  .bottom-middle {
    position: absolute;
    right: 50%;
    bottom: 5vh;
    max-width: 100%;
    height: 200;
    width: 200;
    padding: 10px;
  }

// .panel-grid-container {
//   position: fixed;

//   max-height: 150vh;
//   width: 100%;
//   display: flex;
//   background-color: #2196F3;
//   margin: -10px;
// }

// .panel {
//   position: fixed;
//   height: 150vh;
//   width: 25%;
//   background-color: #fff;
// }