  .bg {
    background: #007BBF;
    height: 100vh;
    margin: -8px;
  }

  .left {
    position: absolute;
    left: 20%;
    top: 30%;
    max-width: 100%;
    width: 350;
    padding: 10px;
  }

  .right {
    position: absolute;
    right: 20%;
    top: 30%;
    max-width: 100%;
    width: 350;
    padding: 10px;
  }