<div appParallax [ratio]="0.3" id="landing">
  <!-- <canvas #randomcanvas style="height: 100%; margin: -8px; width:100%;"></canvas> -->
  <div class="left">
    <h1 class="typewrite" appTypewriter href="" [period]="1000"
      [rotatedWords]='[ "Hi I&#39;m a software developer", "Hi I&#39;m a designer", "Hi I&#39;m Trae Wright."]'>Hi, I'm
      Trae Wright.</h1>
    <h2>This is where I store my nerd stuff.</h2>
  </div>

  <div class="right" style="margin-top: -30px">
    <img id="flat_me" src="/assets/images/flatMe.png" width="200" height="200">
  </div>


  <div appParallax [ratio]=".6" class="bottom-middle" [@isLoaded]="isLoaded ? 'loaded' : 'notLoaded'">
    <svg #downArrowLeft [@leftArrow]="arrowDirection" height="25" width="25">
      <line x1="0" y1="0" x2="25" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
      Sorry, your browser does not support inline SVG.
    </svg>

    <svg #downArrowRight [@rightArrow]="arrowDirection" height="25" width="25">
      <line x1="0" y1="0" x2="25" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
</div>

<div style="position: relative; height:100vh;">
</div>

<!-- <div appParallax [ratio]="1.2" class="panel" style="left: 0%"></div>
<div appParallax [ratio]="1.1" class="panel" style="left: 25%"></div>
<div appParallax [ratio]="1.23" class="panel" style="left: 50%"></div>
<div appParallax [ratio]="1.14" class="panel" style="left: 75%"></div> -->

<div class="content" role="main">
  <tab-component>
    <about-tab #tabItem></about-tab>
    <projects-tab #tabItem></projects-tab>
    <contact-tab #tabItem></contact-tab>
  </tab-component>
</div>

<!-- Footer -->
<!-- <footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">


  </div>
</footer> -->
<!-- Footer -->

<!-- Toolbar -->
<div id="toolbar" class="toolbar" role="banner">
  <img width="40" src="/assets/images/flatMe.png" />
  <span style="font-family: roboto;">Wright Portolio</span>
  <div class="spacer"></div>
  <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/traewright/" title="LinkedIn">
    <img src="https://icon-library.net/images/linkedin-icon-no-background/linkedin-icon-no-background-8.jpg" height="24"
      viewBox="0 0 400 400">
  </a>
  <a target="_blank" rel="noopener" href="https://www.github.com/WrightTrae" title="GitHub">
    <img src="https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" height="24" viewBox="0 0 400 400">
  </a>
</div>
<!-- Toolbar End -->
<router-outlet></router-outlet>