	@import "./fonts/fonts.scss";

  h1 {
    color: white;
    font-family: moon;
  }

  h2 {
    color: white;
    font-family: roboto-thin;
  }

  body {
  	font-family: roboto-regular;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #007BBF;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .spacer {
    flex: 1;
  }

  .content {
    align-items: center;
  }