@import "./fonts/fonts.scss";

h1 {
  color: white;
  font-family: moon;
}

h2 {
  color: white;
  font-family: roboto-thin;
}

h3 {
  font-family: roboto-regular;
}

body {
	font-family: roboto-regular;
}

.toolbar {
  height: 60px;
  width: 100%;
  margin: -8px;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #007BBF;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.content {
  box-shadow: 0px 0px 10px #00000050;
  position: relative;
  background-color: #fff;
  align-items: center;
  margin: -8px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  margin: 15px;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.grid-container-child-text {
  background-color: #F5F5F5;
  text-align: left;
  padding: 20px;
  font-size: 16px;
}

.grid-container-child-text h3 {
  font-family: roboto-regular;
  color: #007BBF;
}

.grid-container-child-text p {
  font-family: roboto-light;
  color: #000;
}

.grid-container-child-text body {
  font-family: roboto-light;
  color: #000;
}
